.gbtn {
    width: 100%;
    height: 60%;
    padding: 12px;
    background: transparent;
    color: white;
    text-align: center;
    border: none;
    background-color:#00B800;
    font-size: 15px;
    letter-spacing: 0.03em;
    border-radius: 25px;
    font-family: 'Raleway';
    font-weight: 600;
    transition: all 0.25s ease-in-out;
    /* margin-bottom: 100px; */
}

.gbtn:hover {
    transform: scale(1.05);
    color: white;
}
