.containerNav{
    width: 400px;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 15px;
}